/* ************************ START ROOT STYLES ************************ */
:root {
  --clr-white: #fff;
  --clr-black: #212529;
  --clr-gray: #495057;
  --clr-shadow-gray: #888888;
  --clr-primary-purple: #5800ff;
  --clr-primary-pink: #f637ec;
  --clr-secondary-pink: #ef4eec;
  --clr-lavender-light: #faf7ff;
  --font-VIC: "Edu VIC WA NT Beginner", sans-serif, helvetica, Arial;
  --font-Mont: "Montserrat", sans-serif, helvetica, Arial;
}

/* ************************ END ROOT STYLES ************************ */

/* ************************ START BASE STYLES ************************ */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background: var(--clr-primary-purple);
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif, helvetica;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

button {
  font-family: "Montserrat", sans-serif, Helvetica;
  text-transform: uppercase;
  cursor: pointer;
}

/* ************************ END BASE STYLES ************************ */

/* ************************ START NAVBAR ************************ */

header {
  background: linear-gradient(
    to left,
    var(--clr-primary-purple) 20%,
    var(--clr-primary-pink)
  );
  box-shadow: 0 1px 10px var(--clr-shadow-gray);
  color: var(--clr-white);
  font-size: 2.5rem;
  position: fixed;
  width: 100%;
  opacity: 0.95;
  z-index: 1;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.nav-link:hover {
  color: var(--clr-black);
  opacity: 0.5;
}

.logo {
  font-family: var(--font-VIC), sans-serif, Arial, Helvetica;
  font-size: 5rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* ************************ END NAVBAR ************************ */

/* ************************ START BUTTON STYLES ************************ */

.btn {
  border: 2px solid var(--clr-black);
  border-radius: 2px;
  letter-spacing: 0.2rem;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--clr-white);
}

.contact-btn {
  box-shadow: 0 0 var(--clr-black);
  transition: box-shadow 300ms ease;
}

.contact-btn:hover {
  box-shadow: 10px 10px var(--clr-black);
}

.pink-btn {
  background: var(--clr-primary-pink);
}

.purple-btn {
  background: var(--clr-primary-purple);
}

.ideas-btn-one,
.ideas-btn-two {
  box-shadow: 0px 0px var(--clr-black);
  transition: box-shadow 300ms ease;
  animation: ideas-btn 1000ms infinite alternate;
}

.ideas-btn-one:hover,
.ideas-btn-two:hover {
  box-shadow: 10px 10px var(--clr-black);
}

@keyframes ideas-btn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.article-btn {
  position: relative;
  top: -1.6rem;
  left: 0;
  box-shadow: 0 0 var(--clr-black);
  transition: all 300ms ease;
}

.article-btn:hover {
  box-shadow: -10px 10px var(--clr-black);
  top: -1.6rem;
  left: 0;
  position: relative;
}

/* ************************ END BUTTON STYLES ************************ */

/* ************************ START TOP BAR BORDER ************************ */

.top-border {
  background: linear-gradient(
    to right,
    var(--clr-primary-purple) 10%,
    var(--clr-primary-pink)
  );
  width: 100%;
}

.top-border-short {
  height: 1rem;
}

.top-border-tall {
  height: 2rem;
}

/* ************************ END TOP BAR BORDER ************************ */

/* ************************ START MAIN ************************ */

#main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1480px;
}

.main-left {
  padding: 0 0 0 10rem;
}

.main-left-header {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.5rem;
}

.main-left-subheader {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  margin: 3.2rem 0;
  width: 80%;
}

.daydreamer-pic {
  max-width: 50rem;
  position: relative;
  left: -10rem;
  z-index: -1;
}

/* ************************ END MAIN ************************ */

/* ************************ START STACK SECTION ************************ */

#stack-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-lavender-light);
  width: 100%;
  min-height: 100vh;
}

.stack-wrap {
  display: flex;
  justify-content: center;
  background: #fff;
  border: 2px solid var(--clr-black);
  box-shadow: 1rem 1rem var(--clr-black);
  border-radius: 2px;
  max-width: 1280px;
  margin: 5rem 0;
  padding: 5rem;
  gap: 5rem;
}

.stack-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bookstack-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stack-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--clr-primary-pink);
  border: 2px solid var(--clr-black);
  box-shadow: 5px -5px var(--clr-black);
  border-radius: 2px;
  color: var(--clr-white);
  padding: 4.8rem;
  min-width: 30%;
  max-width: 40%;
}

.stack-right-header {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.stack-right-subheader {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: left;
  color: var(--clr-white);
}

/* ************************ END STACK SECTION ************************ */

/* ************************ START STORIES ************************ */

#stories-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  min-height: 100vh;
}

.stories-section-wrap {
  max-width: 1280px;
  margin: 5rem 0;
}

.stories-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.stories-header h2 {
  font-size: 4.8rem;
}

.stories-header p {
  font-size: 2rem;
}

.stories-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.stories-top,
.stories-bottom {
  display: flex;
  gap: 3rem;
}

.stories-box {
  display: flex;
  flex-direction: column;
  color: var(--clr-black);
  border: 1px solid var(--clr-black);
  border-radius: 2px;
  box-shadow: 0.5rem 0.5rem var(--clr-black);
  width: 100%;
}

.stories {
  color: var(--clr-black);
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 5rem;
}

.handshake-pic {
  max-width: 20rem;
}

/* ************************ END STORIES ************************ */

/* ************************ START QUOTES SECTION ************************ */

#quotes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-lavender-light);
  width: 100%;
  min-height: 30vh;
}

.quotes-section {
  padding: 5rem 0;
  max-width: 1080px;
}

.quotes-section h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 5.5rem;
  text-align: center;
}

.italic {
  font-style: italic;
}

/* ************************ END QUOTES SECTION ************************ */

/* ************************ START IDEAS SECTION ************************ */

#ideas-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.ideas-section-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-primary-purple);
  border: 2px solid var(--clr-black);
  box-shadow: 10px 10px var(--clr-black);
  border-radius: 2px;
  max-width: 1080px;
  padding: 5rem;
  margin: 5rem 0;
}

.ideas-left h2 {
  color: #fff;
  font-size: 4.8rem;
  line-height: 6rem;
}

.ideas-left h2::selection {
  background: var(--clr-primary-pink);
}

.ideas-left p {
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
  margin: 2rem 0;
}

.ideas-left p::selection {
  background: var(--clr-primary-pink);
}

.ideas-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 2px solid var(--clr-black);
  box-shadow: 5px -5px var(--clr-black);
  border-radius: 2px;
  margin: 5rem;
}

.ideas {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px 2px 0 0;
  color: var(--clr-black);
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  width: 40rem;
  height: 30rem;
  padding: 3rem;
}

/* ************************ END IDEAS SECTION ************************ */

/* ************************ START FOOTER ************************ */

#footer {
  background: var(--clr-secondary-pink);
  color: #fff;
  box-shadow: 0 10px 30px var(--clr-shadow-gray);
  width: 100%;
  padding: 10rem 0;
}

.footer-nav-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer-header {
  font-weight: 600;
}

.footer-nav-links li {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.copyright {
  font-size: 1.6rem;
  text-align: center;
  background: var(--clr-secondary-pink);
  border-top: 2px solid #fff;
  color: #fff;
  width: 100%;
  padding: 5rem 0;
}

/* ************************ END FOOTER ************************ */

/* ***************** Large devices only **************************************************************************** */

@media (min-width: 1200px) and (max-width: 1440px) {
  /* START NAVBAR */

  .navbar {
    font-size: 2.2rem;
  }

  .logo {
    font-size: 4rem;
  }

  /* END NAVBAR */

  /* START BUTTON */

  .btn {
    padding: 1.4rem 2.8rem;
    font-size: 1.4rem;
  }

  /* END BUTTON */

  /* START MAIN */

  .main-left-header {
    font-size: 4.2rem;
  }

  .main-left-subheader {
    font-size: 1.8rem;
    margin: 2.6rem 0;
  }

  .daydreamer-pic {
    max-width: 40rem;
  }

  /* END MAIN */

  /* START STACK */

  .stack-wrap {
    max-width: 980px;
    padding: 4rem;
    gap: 4rem;
  }

  .stack-right {
    padding: 4rem;
  }

  .stack-right-header {
    font-size: 3.6rem;
  }

  .stack-right-subheader {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  /* END STACK */

  /* START STORIES */

  .stories-section-wrap {
    max-width: 1080px;
  }

  .stories-header p {
    line-height: 3rem;
  }

  .stories {
    font-size: 1.4rem;
    padding: 4rem;
  }

  .handshake-pic {
    max-width: 17rem;
  }

  /* END STORIES */

  /* START FOOTER  */

  #footer {
    padding: 5rem 0;
  }

  .copyright {
    padding: 3rem 0;
  }

  /* END FOOTER */
}

/* ***************** Medium devices only ***************** */
@media (min-width: 992px) and (max-width: 1199px) {
  /* START NAVBAR */

  .navbar {
    font-size: 2.2rem;
  }

  .nav-item {
    gap: 1.6rem;
  }

  .logo {
    font-size: 4.5rem;
  }

  /* END NAVBAR */

  /* START BUTTON */

  .btn {
    padding: 1.2rem 2.2rem;
    font-size: 1.4rem;
  }

  .contact-btn:hover {
    box-shadow: 5px 5px var(--clr-black);
  }

  .ideas-btn-one:hover,
  .ideas-btn-two:hover {
    box-shadow: 5px 5px var(--clr-black);
  }

  /* END BUTTON */

  /* START MAIN */

  .main-left-header {
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .main-left-subheader {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin: 2.2rem 0;
  }

  .daydreamer-pic {
    max-width: 40rem;
  }

  /* END MAIN */
}

/* START STACK */

.stack-wrap {
  max-width: 880px;
  padding: 3.5rem;
  gap: 3.5rem;
}

.stack-right {
  padding: 3.5rem;
}

.stack-right-header {
  font-size: 3.2rem;
}

.stack-right-subheader {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* END STACK */

/* START STORIES */

.stories-section-wrap {
  max-width: 880px;
}

.stories-header p {
  line-height: 3.2rem;
}

.stories {
  padding: 3.5rem;
}

.handshake-pic {
  max-width: 15rem;
}

/* END STORIES */

/* START QUOTES */

.quotes-section h2 {
  font-size: 3.2rem;
  line-height: 4.6rem;
}

/* END QUOTES */

/* START IDEAS */

.ideas-section-wrap {
  max-width: 880px;
  padding: 3rem;
}
.ideas-left h2 {
  font-size: 4rem;
  line-height: 4.6rem;
}

.ideas-left p {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.ideas {
  font-size: 2rem;
  width: 32rem;
  height: 22rem;
  padding: 2rem;
}

/* END IDEAS */

/* START FOOTER  */

#footer {
  padding: 3rem 0;
}

.footer-nav-links li {
  font-size: 1.8rem;
}

.copyright {
  font-size: 1.4rem;
  padding: 2.5rem 0;
}

/* END FOOTER */

/* ***************** Small devices only ***************** */
@media (min-width: 768px) and (max-width: 991px) {
  /* START NAVBAR */

  .navbar {
    font-size: 1.8rem;
  }

  .nav-menu {
    gap: 1.4rem;
  }

  .logo {
    font-size: 4rem;
  }

  /* END NAVBAR */

  /* START BUTTON */

  .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  .contact-btn:hover {
    box-shadow: 5px 5px var(--clr-black);
  }

  .ideas-btn-one:hover,
  .ideas-btn-two:hover {
    box-shadow: 5px 5px var(--clr-black);
  }

  /* END BUTTON */

  /* START MAIN */

  .main-left-header {
    font-size: 3.8rem;
    line-height: 4.6rem;
  }

  .main-left-subheader {
    font-size: 1.6rem;
    /* line-height: 2.4rem; */
    margin: 2rem 0;
  }

  .daydreamer-pic {
    max-width: 30rem;
    left: -5rem;
  }

  /* END MAIN */

  /* START STACK */

  #stack-section {
    height: 70vh;
  }

  .stack-wrap {
    max-width: 680px;
    padding: 2rem;
    gap: 2rem;
  }

  .stack-right {
    padding: 2rem;
  }

  .stack-right-header {
    font-size: 2.6rem;
  }

  .stack-right-subheader {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  /* END STACK */

  /* START STORIES */

  .stories-section-wrap {
    max-width: 680px;
  }

  .stories-header h2 {
    font-size: 3.4rem;
  }

  .stories-header p {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  .stories {
    font-size: 1.2rem;
    padding: 2rem;
  }

  .handshake-pic {
    max-width: 10rem;
  }

  /* END STORIES */

  /* START QUOTES */

  .quotes-section {
    max-width: 680px;
  }

  .quotes-section h2 {
    font-size: 2.8rem;
    line-height: 4.2rem;
  }

  /* END QUOTES */

  /* START IDEAS */

  #ideas-section {
    height: 70vh;
  }

  .ideas-section-wrap {
    max-width: 680px;
    padding: 2.8rem;
  }
  .ideas-left h2 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .ideas-left p {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .ideas-box {
    margin: 2.6rem;
  }

  .ideas {
    font-size: 1.8rem;
    width: 26rem;
    height: 16rem;
    padding: 1.4rem;
  }

  /* END IDEAS */

  /* START FOOTER  */

  #footer {
    padding: 2rem 0;
  }

  .footer-nav-links li {
    font-size: 1.6rem;
  }

  .copyright {
    font-size: 1.2rem;
    padding: 2rem 0;
  }
}

/* ***************** Extra Small devices only ***************** */
@media only screen and (max-width: 767px) {
  /* START NAV */

  /* Stacks the hamburger icon */
  .hamburger {
    display: block;
  }

  /* Removes middle hamburger */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  /* Creates an X icon */
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--clr-primary-purple);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    font-size: 2rem;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .logo {
    font-size: 4rem;
    padding: 1rem 2rem;
  }

  /* END NAV */

  /* START MAIN */

  .main-wrap {
    flex-direction: column;
    max-width: 100%;
    margin-top: 5rem;
  }

  .main-left {
    padding: 5rem;
  }

  .main-left-header {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .main-left-subheader {
    font-size: 1.4rem;
    line-height: 2.8rem;
    width: 100%;
    margin: 2.2rem 0;
  }

  .main-right {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
  }

  .daydreamer-pic {
    max-width: 90%;
    left: 0;
  }

  /* END MAIN */

  /* START STACK */

  .stack-wrap {
    flex-direction: column;
    max-width: 90%;
  }

  .stack-right {
    min-width: 100%;
    max-width: 100%;
  }

  .stack-right-subheader {
    font-size: 1.6rem;
  }

  /* END STACK */

  /* START STORIES */

  .stories-section-wrap {
    max-width: 90%;
  }

  .stories-header {
    padding: 0 1rem;
  }

  .stories-header h2 {
    font-size: 3.4rem;
  }

  .stories-header p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    padding-bottom: 3rem;
  }

  .stories-wrap {
    margin-top: 0;
    height: 100%;
  }

  .stories-top,
  .stories-bottom {
    flex-direction: column;
  }

  .handshake-pic {
    max-width: 8rem;
  }

  /* END STORIES */

  /* START QUOTES */

  .quotes-section {
    max-width: 100%;
    margin: 5rem 0;
  }

  .quotes-section h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    padding: 0 3rem;
  }

  /* END QUOTES */

  /* START IDEAS */

  .ideas-section-wrap {
    flex-direction: column;
    max-width: 90%;
  }

  .ideas-left h2 {
    font-size: 3.4rem;
    line-height: 4.6rem;
  }

  .ideas-box {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
  }

  /* END IDEAS */

  /* START FOOTER */

  .footer-nav-links li {
    font-size: 1.4rem;
    padding: 0.5rem;
  }

  .copyright {
    font-size: 1rem;
    padding: 3rem 0;
  }

  /* END FOOTER */
}
